{% extends 'base.html' %}

{% block content %}
<h2>Students Details</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Branch</th>
        <th>Age</th>
        <th>Eligible for Vote</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ s.sno }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.branch }}</td>
        <td>{{ s.age }}</td>
        <td>
            {% if s.age >= 18 %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}